@charset "utf-8";
/* CSS Document */
@media (min-width: 1001px) and (max-width: 3000px) 
{
	#contenedor
	{
			margin-top: 4%;
	}
}

@media (min-width: 701px) and (max-width: 1000px)  
{
	#contenedor
	{
			margin-top: 5%;
	}
}

@media (min-width: 650px) and (max-width: 700px) 
{
	#contenedor
	{
			margin-top: 12.5%;
	}
}
@media (min-width: 430px) and (max-width: 649px) 
{
	#contenedor
	{
			margin-top: 20%;
	}
}
@media (min-width: 250px) and (max-width: 420px) 
{
	#contenedor
	{
			margin-top: 35%;
	}
}