@CHARSET "ISO-8859-1";

.slider {
	width:800px; 
	height:350px;
	margin:50px auto; 
	position:relative; 
	border: 0px solid #000000;
	}
	
a.next, a.prev {
	color:#000; 
	background-color:#eee; 
	border:1px solid #fff; 
	outline:1px solid #ccc; 
	text-shadow:-1px -1px 0px #fff; 
	text-decoration:none; 
	z-index:99; 
	padding:0px 5px; 
	display:none; 
	}
	
.next {
	position:absolute; 
	right:-10px; 
	top:50%;
	}
	
.prev {
	position:absolute; 
	left:-10px; 
	top:50%;
	}
	
a.inactive {
	color:#ccc; 
	background-color:#fff; 
	border:1px solid #eee; 
	outline:none;
	}
	

/* ul.navi is the generated navigational bullets we generate, you can disable this */
ul.navi {
	list-style:none; 
	position:absolute; 
	bottom:10px; 
	right:5px;
	}
	
ul.navi li {
	float:left; 
	margin-right:5px;
	}
	
ul.navi li a {
	background-color:#CCC; 
	display:block; 
	height:10px; 
	width:10px; 
	text-indent:-9999px; 
	outline:none; -moz-border-radius: 5px; 
	border-radius: 5px;-webkit-box-shadow:  0px 0px 2px  #000000; -moz-box-shadow: 0px 0px 3px #000000; 
	box-shadow: 0px 0px 1px #000000; 
	}
	
ul.navi li a.active {
	background-color:#FCD700;
	}